bin/
obj/
AppPackages/
BundleArtifacts/
/ILSpy/app.config
*.user
/Resharper-ILSpy-Style.xml
_ReSharper*/
*.ReSharper
*.patch
.vs/
/ILSpy.AddIn*/Packages/*
/ILSpy.AddIn*/source.extension.vsixmanifest
/ICSharpCode.Decompiler.Tests/TestCases/Disassembler/Pretty/*.dll
/ICSharpCode.Decompiler.Tests/TestCases/Disassembler/Pretty/*.result.il
/ICSharpCode.Decompiler.Tests/TestCases/Correctness/*.exe
/ICSharpCode.Decompiler.Tests/TestCases/Correctness/*.exe.config
/ICSharpCode.Decompiler/ICSharpCode.Decompiler.nuspec
multitargeting.props
ILSpy.Installer/wix/
ILSpy.Installer/AppPackage.cs
/VERSION
/ICSharpCode.Decompiler/Properties/DecompilerVersionInfo.cs
