<?xml version="1.0" encoding="utf-8"?>
<!--
  Copy this file to multitargeting.props
-->
<Project>
  <PropertyGroup>
    <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
    <TargetFrameworks>net472;net6.0-windows</TargetFrameworks>
  </PropertyGroup>
</Project>