<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
    <add key="ILSpy" value="https://ci.appveyor.com/nuget/ilspy-masterfeed" />
    <add key="DotNet MyGet" value="https://dotnet.myget.org/F/symreader-converter/api/v3/index.json" />
    <add key="cshung_public_development" value="https://pkgs.dev.azure.com/cshung/public/_packaging/development/nuget/v3/index.json" />
  </packageSources>
</configuration>