<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net4-client" />
  <package id="ICSharpCode.Decompiler" version="2.3.1" targetFramework="net4-client" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net4-client" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net4-client" />
</packages>