<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ICSharpCode.TreeView.TargetDir)\ICSharpCode.TreeView.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ICSharpCode.TreeView.Binaries">
      <ComponentRef Id="ICSharpCode.TreeView.dll" />
    </ComponentGroup>
  </Fragment>
</Wix>